header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div {
    width: 16%;
}
#bouton_sabonner {
    background-color: #EAB002;
    margin: 10px;
}
#bouton_sabonner:hover {
    background-color: #bcaa26;
    cursor: pointer;
}
#blockidentification{
    display: flex;
}

img{
    width: 100%;
}

.container{
    width: 150px;
}

.icon-container {
    width: 20px;
}