header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#blockidentification{
    display: flex;
}

img{
    width: 100%;
}

.container{
    width: 150px;
}

.icon-container {
    width: 20px;
}